[user]
	name = Kevin Anantha
	email = kevanantha@evilfactory.id
	signingkey = B5710FCAF4097DA9
[core]
	editor = nvim
  pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Dracula' --width=190 | bat --theme=Dracula
[interactive]
  diffFilter = delta --color-only
[commit]
	gpgsign = true
[color]
	ui = true

[includeIf "gitdir:~/work/"]
  path = .gitconfig-mekari
[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org
